.experiencia{
    width: 100%;
    padding: 5rem 0;
    height: auto;
    background-color: #29394F;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{
        width: 100%;
        text-align: center;
        padding: 3rem 0;
    }
}
.experiencia__container{
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.experiencia__card{
    margin: auto;
    width: 85%;
    height: 500px;
    overflow: hidden;
    box-shadow: 10px 10px 40px -3px rgba(0,0,0,0.79);
-webkit-box-shadow: 10px 10px 40px -3px rgba(0,0,0,0.79);
-moz-box-shadow: 10px 10px 40px -3px rgba(0,0,0,0.79);
    transition: all 0.5s ease-in-out;
}
.experiencia__card:hover{
    transform: translateY(-10px);
}
.experiencia__img{
    height: 50%;
    width: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    transition: all 0.5s ease-in-out;
}

.experiencia__text{
    height: 50%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.buttons{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.button{
    background-color: #D0DEE4;
    // border-bottom: 4px solid black;
    border-radius: 40px;
    color: #29394F;
    padding: 1rem 2rem;
    transition: all 0.3s ;
}
.button:hover{
    border-bottom: 8px solid black;
    transform: translateY(-4px);
    font-weight: 900;
}
.button:active{
    // border-bottom: 4px solid black;
    transform: translateY(0px);
}

@media screen and (min-width: 768px){
    .experiencia__card{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        height: auto;
        padding-top: 1rem;
    }
    .experiencia__text{
        width: 50%;
        gap: 2rem;
    }
    .experiencia__img{
        width: 50%;
    }
    .buttons{
        flex-direction: row;
        gap: 2rem;
    }
    .reverse{
        flex-direction: row-reverse;
    }
    
}