.about-me{
    margin: 0 auto;
    width: 90%;
    height: fit-content;
    background-color: #29394F;
    color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    overflow: hidden;
}
.abaout-me__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
    padding-bottom: 10px;
}
.abaout-me__text{
    padding-top: 10px;
    width: 80%;
    max-width: 1300px;
    text-align: center;
    font-size: 1.2rem;
}
.about-me__title{
    padding-bottom: 10px
}
.about-me__subtitle{
  width: 80%;
  text-align: center;
}
.abaout-me__img{
    height: 400px;
    width: 100%;
    max-width: 400px;
    border-radius: 0 0 30px 30px;
    background-image: url(../assets/CDVHPNG.png);
    background-size: cover;
    background-position: center;
    object-fit: cover\;
}

@media screen and (min-width: 930px){
  .about-me{
    flex-direction: row;
    padding: 60px 0;
  }
  .abaout-me__container{
    width: 50%;
    height: 100%;
  }
  .abaout-me__img{
    border-radius: 50%;
  }
  
}
    