.nav{
    position: sticky;
    width: 100%;
    height: 50px;
    margin: auto;
    z-index: 1;
    top: 0px;
    background-color: #29394F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    li{
        display: inline-block;
        padding: 20px;
        :hover{
            color: #29394F;
            background-color: #D0DEE4;
        }
    }
    a{
        color: white;
    }
}
.hamguerger{
    height: 30px;
    width: 30px;
    padding: 1.2rem;
    background-image: url(../assets/menu.svg);
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    transition: all 0.5s ease;
}
.checkbox{
    display: none;
    transition: all 0.5s ease;
}
@media screen and (max-width: 768px) {
    .nav{
        flex-direction: column;
        height: 100%;
        transition: all 0.5s ease;
        li{
            width: 80%;
        }
    }
    ul{
        display: none;
        text-align: center;
        flex-wrap: wrap;
    }
    .hamguerger{
        display: block;
    }
    .checkbox:checked ~ ul{
        display: block;
    }
    .checkbox:checked ~ .hamguerger{
        background-image: url(../assets/menu_close.svg);
    }
}
    

